.cmsCardsContainer {
  margin: 0;
  margin-top: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  max-width: 90vw;
}

.operationContainer {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  min-width: 20vw;
  max-height: 40vh;
  min-height: 20vh;
  border: 2px solid black;
  border-radius: 15px;
}

.notAuthorizedCards {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  min-width: 20vw;
  max-height: 40vh;
  min-height: 20vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: red;
}

.operationContainer:hover, .notAuthorizedCards:hover {
  cursor: pointer;
  transform: scale(0.98);
  border: 3px solid black;
}

.operationText {
  margin: 0;
  padding: 5vh;
  font-size: 1.75em;
}

/* CREATE POST STYLING */

.enteredTagsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 5vw;
}

.tagContainer {
  min-width: 15vw;
  max-width: 80vw;
  min-height: 3vh;
  max-height: 6vh;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25em;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  gap: 0.5vw;
}

.tagText {
  margin: 0;
}

.tagRemove {
  max-width: 4vw;
  max-height: 4vh;
  display: flex;
  flex: auto;
}

.tagRemove:hover {
  cursor: pointer;
}

/* UPDATE POST STYLING */
 
.updatePostContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.apiResponseContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid yellow;
  margin: 0.5vh;
  padding: 0.5vh;
}

.apiHeaderText, .apiMessageText, .apiErrorText {
  margin: 0;
  font-size: 1.25em;
}

.postsContainer {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.postContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 10vh;
  max-height: 30vh;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
  gap: 4vw;
}

.postContainer:hover {
  background-color: yellow;
  transform: scale(0.999);
  cursor: pointer;
}

.postInformationText {
  font-size: 1.15em;
}

.postDateAndTime {
  font-size: 1em;
}

.commentsUpdateContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 0.5vh;
  overflow-x: hidden;
}

.commentContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: auto;
  padding: 0.5vh;
  background-color: grey;
  border-radius: 15px;
}

.commentInfoData {
  font-size: 1em;
}

/* DELETE POST LIST */

.deleteIcon {
  max-width: 5vw;
  max-height: 5vh;
}

.deleteIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.deleteAccountContainer, .passwordChangeContainer, .accountManagementContainer, .updatePostFormContainer, .updatePostListContainer, .updatePostContainer, .createPostContainer, .loginContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5vh;
}

.headerTitle, .loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.postsContainer, .deleteAccountForm, .passwordChangeForm, .accountUpdateForm, .createPostForm, .loginAccountForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 2vh;
}

.formGroup {
  display: flex;
  flex-flow: column nowrap;
  gap: 1vw;
  margin: 0;
  width: 50%;
}

.returnButtonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
}

.returnButton, .loginButton, .addTagButton, .submitButton {
  width: 15vw;
  height: auto;
  font-size: 1.25em;
  border-radius: 15px;
}

.tagsInput {
  max-width: 10vw;
}