.cmsCardsContainer {
  margin: 0;
  margin-top: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  max-width: 90vw;
}

.operationContainer {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  min-width: 20vw;
  max-height: 40vh;
  min-height: 20vh;
  border: 2px solid black;
  border-radius: 15px;
}

.notAuthorizedCards {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  min-width: 20vw;
  max-height: 40vh;
  min-height: 20vh;
  border: 2px solid black;
  border-radius: 15px;
  background-color: red;
}

.operationContainer:hover, .notAuthorizedCards:hover {
  cursor: pointer;
  transform: scale(0.98);
  border: 3px solid black;
}

.operationText {
  margin: 0;
  padding: 5vh;
  font-size: 1.75em;
}

/* CREATE POST STYLING */

.enteredTagsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 5vw;
}

.tagContainer {
  min-width: 15vw;
  max-width: 80vw;
  min-height: 3vh;
  max-height: 6vh;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25em;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  gap: 0.5vw;
}

.tagText {
  margin: 0;
}

.tagRemove {
  max-width: 4vw;
  max-height: 4vh;
  display: flex;
  flex: auto;
}

.tagRemove:hover {
  cursor: pointer;
}

/* UPDATE POST STYLING */
 
.updatePostContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.apiResponseContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid yellow;
  margin: 0.5vh;
  padding: 0.5vh;
}

.apiHeaderText, .apiMessageText, .apiErrorText {
  margin: 0;
}

.postsContainer {
  width: 80vw;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.postContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 10vh;
  max-height: 30vh;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
  gap: 4vw;
}

.postContainer:hover {
  background-color: yellow;
  transform: scale(0.999);
  cursor: pointer;
}

.postInformationText {
  font-size: 1.15em;
}

.postDateAndTime {
  font-size: 1em;
}